@mixin root {
  :root {
    --purple: #e811fc;
    --blue: #3ea5e6;
    --white: #ffffff;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tablet-portrait {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tablet-landscape {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 1800px) {
      @content;
    }
  }
}
